/*! Map */
// ==========================================================================
#main > .inner > section.i-map,
.i-map {
    display: block;
}

#main > .inner > section.map,
.map {
    display: none;
    border-top: none;
    padding-top: 1em;
}

.interactive-map {
    position: relative;
    width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

.page .interactive-map {
    border-top: solid 3px rgba(241, 138, 24, 0.5);
}

.interactive-map > img,
.simple-map > img {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.simple-map > img {
    opacity: 0.7;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered-y {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.interactive-map .map-point {
    cursor: pointer;
    outline: none;
    z-index: 0;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    padding: 0;
    /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;*/
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s, border-radius 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s, border-radius 0.25s ease-in-out;
    background:  rgba(255, 255, 255, 0.85);
    border: 2px solid #F8C48B;
    color: #333 !important;
    box-shadow: none;
}

.interactive-map {

    #alsatian {
        top: 57%;
        left: 52%;
    }

    #basque {
        top: 74%;
        left: 41.5%;
    }

    #breton {
        top: 60%;
        left: 39.5%;
    }

    #catalan {
        top: 81%;
        left: 46%;
    }

    #cornish {
        top: 53.5%;
        left: 37.5%;
    }

    #corsican {
        top: 77.5%;
        left: 54.25%;
    }

    #finnish {
        top: 24%;
        left: 59%;
    }

    #frisian {
        top: 45%;
        left: 50%;
    }

    #friulian {
        top: 68.5%;
        left: 58.5%;
    }

    #galician {
        top: 75.5%;
        left: 34%;
    }

    #irish-gaelic {
        top: 44%;
        left: 34%;
    }

    #ladin {
        top: 64%;
        left: 55%;
    }

    #macedonian {
        top: 81%;
        left: 69%;
    }

    #nynorsk {
        top: 21%;
        left: 51%;
    }

    #occitan {
        top: 71%;
        left: 47%;
    }

    #scottish-gaelic {
        top: 32%;
        left: 39%;
    }

    #swedish {
        top: 16%;
        left: 68%;
    }

    #welsh {
        top: 46%;
        left: 39%;
    }

    #kashubian {
        top: 41%;
        left: 63%;
    }

    #hungarian {
        top: 63%;
        left: 69%;
    }
}


.interactive-map .map-point .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: overlay;
    white-space: normal;
}

.interactive-map .map-point:active,
.interactive-map .map-point:focus {
    margin: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    width: 280px;
    height: 180px;
    color: #333;
    z-index: 1;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, border-radius 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, border-radius 0.25s ease-in-out;
    border-radius: 0.275em;
}

.interactive-map .map-point:active .content,
.interactive-map .map-point:focus .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0s, 0s;
    -webkit-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    overflow: hidden;
}

.interactive-map .map-point:active .content a:hover,
.interactive-map .map-point:active .content a:active,
.interactive-map .map-point:focus .content a:hover,
.interactive-map .map-point:focus .content a:active {
    color: #afe1fa;
}

.interactive-map .map-point .content h2,
.interactive-map .map-point .content p {
    margin: 0;
    line-height: 1.5;
}

.interactive-map .map-point .content p {
    font-weight: 400;
}

.simple-map ul {
    list-style-type: none;
    padding: 0;
    margin: -4em 0 0em;
}

.simple-map .map-button {
    cursor: pointer;
    outline: none;
    z-index: 0;
    position: relative;
    width: 100%;
    text-align: center;
    margin: -40% auto 30%;
}

.simple-map .map-button .button {
    background: rgba(255,255,255,0.85);
}

.simple-map .map-list {
    cursor: pointer;
    outline: none;
    z-index: 0;
    position: relative;
    border-radius: 0.275em;
    padding: 0;
    background:  rgba(255, 255, 255, 0.85);
    border: 2px solid #F8C48B;
    color: #333 !important;
    box-shadow: none;
    display: inline-block;
    text-align: center;
    width: 32.7%;
}

.simple-map .map-list .content {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: overlay;
    white-space: normal;
    margin: 0;
    padding: 0;
    min-width: 180px;
    height: 120px;
    color: #333;
    z-index: 1;
}

.simple-map .map-list .content h2,
.simple-map .map-list .content p {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2;
}

.simple-map .map-list .content p {
    font-size: 1em;
    font-weight: 400;
    margin: 0.3em 0 0.5em;
}

@media screen and (max-width: 768px) {
    
    #main > .inner > section.i-map,
    .i-map {
        display: none;
    }

    #main > .inner > section.map,
    .map {
        display: block;
    }
    
}

@media screen and (max-width: 480px) {
    
    .simple-map .map-list {
        width: 49%;
    }
    
    .simple-map .map-list .content {
        min-width: 145px;
    }
    
}

