/*! Pages, posts, events, members */
// ==========================================================================


/* Pages ***/

/* grid posts & cards */
.divider-flex {
    display: flex;
    flex-wrap: wrap;
}

.cards,
.posts {
    margin-left: -1.25em;
}

.equal-h {
    display: flex;
    padding: 1.25em 0 0 1.25em;
}

.equal-h article {
    margin-bottom: 0;
	background: rgba(0, 95, 139, 0.05);
    border-radius: 0.275em;
}

.posts .equal-h article {
    background: white;
    border: 1.25em solid rgba(0, 95, 139, 0.05);
}

.equal-h .box-style {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 1.25em;
}

.equal-h .box-style img {
	width: 100%;
    height: auto;
}

.equal-h .box-style h2 {
	text-transform: uppercase;
    line-height: 1.2;
    margin: 0.5em 0;
    font-size: 1.5em;
}

.posts .equal-h .box-style h3 {
    line-height: 1.1;
    font-size: 2em;
}

.cards .equal-h .box-style h3 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.25em;
}

.equal-h .box-style p {
	flex: 1 0 auto;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {

    .equal-h .box-style h2 {
        font-size: 2em;
    }

}

.card-row:first-child {
    border-top: solid 1px rgba(210, 215, 217, 0.75);
}

.card-row {
    border-bottom: solid 1px rgba(210, 215, 217, 0.75);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-row .card-col {
    padding: 1em 1.25em;
}

.card-row .card-col:first-child {
    flex: 1;
    background-color: rgba(0, 95, 139, 0.05);
    text-transform: uppercase;
}

.card-row .card-col:last-child {
    flex: 2;
    color: #3D4449;
}

.card-row .card-col h2,
.card-row .card-col p {
    margin: 1em 0;
}

.card-row .card-col img {
    width: 100%;
    height: auto;
    padding: 1.25em 0;
}

.card-row .card-col.with-img {
    display: flex;
    flex-direction: column;
    /*background-color: rgba(0, 95, 139, 0.05);*/
}

@media screen and (max-width: 768px) {
    .card-row {
        flex-direction: column;
    }
}


/* Members ***/
ul.docs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul.docs.two-cols {
    flex-direction: row;
}

ul.docs.two-cols li {
    width: 49%;
    margin-right: 0.5%;
}

ul.docs li a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-bottom: 0;
    color: #3D4449 !important;
}

ul.docs li:hover {
    background-color: rgba(0, 95, 139, 0.05);
}

ul.docs li a svg {
    margin-right: auto;
    fill: rgba(241, 138, 24, 0.5);
    height: 3em;
    width: 3em;
    margin-right: 2em;
}

ul.docs li a span:nth-child(2) {
    flex: 2;
}

ul.docs li a span:nth-child(3) {
    flex: 1;
    text-align: right;
}

@media screen and (max-width: 768px) {
    ul.docs.two-cols li {
        width: 100%;
        margin-right: 0;
    }
}


/* Blog ***/
.blog #main,
.single #main {
    border-color: rgba(241, 138, 24, 0.5);
}

.logged-in #main {
    border-color: rgba(218, 50, 18, 0.5);
}

.blog #header,
.single #header {
    border-color: rgba(0, 95, 139, 0.5);
}

.logged-in #header {
    border-color: rgba(0, 95, 139, 0.5);
}

.blog-single h1 {
    line-height: 1.1;
}


/* Events ***/
.single-event .event-details {
    background-color: rgba(0, 95, 139, 0.05);
    padding: 2em 3em;
    margin-bottom: 3em;
}

.single-event .event-details h2 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

.single-event ul {
    list-style: none;
    padding: 0;
}

.single-event ul li {
    padding: 0;
    line-height: 2;
}