/*! Variables */
// ==========================================================================


/* Palette
***********/
/* Coolors Exported Palette - coolors.co/005f8b-f18a18-da3212-333333-989788 */

/* HSL 
$color1: hsla(199%, 100%, 27%, 1);
$color2: hsla(32%, 89%, 52%, 1);
$color3: hsla(10%, 85%, 46%, 1);
$color4: hsla(0%, 0%, 20%, 1);
$color5: hsla(56%, 7%, 56%, 1);
*/

/* RGB */
@blue: rgba(0, 95, 139, 1); /* #005F8B */
@orange: rgba(241, 138, 24, 1); /* #F18A18 */
@red: rgba(218, 50, 18, 1); /* #DA3212 */
@black: rgba(61, 68, 73, 1); /* #3D4449 */
@grey: rgba(127, 136, 143, 1); /* #7f888f */
/* old */
/*@black: rgba(51, 51, 51, 1);*/ /* #333333 */
/*@grey: rgba(152, 151, 136, 1);*/ /* #989788 */

@blue005: rgba(0, 95, 139, 0.05); /* #f2f7f9 */
@bluelight: #B9D3DF;

@blue1: rgba(2, 170, 251, 1); /* #02AAFB; */
@blue2: rgba(0, 121, 179, 1); /* #0079B3; */
@blue3: rgba(0, 75, 111, 1); /* #004B6F; */
@blue4: rgba(0, 54, 80, 1); /* #003650; */

@orange1: rgba(255, 188, 113, 1); /*#FFBC71; */
@orange2: rgba(252, 167, 72, 1); /* #FCA748; */
@orange3: rgba(193, 105, 7, 1); /* #C16907; */
@orange4: rgba(152, 80, 0, 1); /* #985000; */

@red1: rgba(255, 128, 105, 1); /* #FF8069; */
@red2: rgba(239, 89, 61, 1); /* #EF593D; */
@red3: rgba(175, 31, 5, 1); /* #AF1F05; */
@red4: rgba(135, 21, 0, 1); /* #871500; */

/* Social palette */
@facebook: #3b5998; //rgba(59, 89, 152, 1); 
@flickr: #ff0084; // rgba(255, 0, 132, 1);
@twitter: #55acee; //rgba(85, 172, 238, 1);
@googleplus: #dd4b39; //rgba(211, 75, 57, 1);
@instagram: #517fa4; //rgba(81, 127, 164, 1);
@linkedin: #0075b5; //rgba(0, 119, 181, 1);
@periscope: #40a4c4; //rgba(64, 164, 196, 1);
@pinterest: #bd081c; //rgba(189, 8, 28, 1);
@skype: #00aff0; //rgba(0, 175, 240, 1);
@vimeo: #1ab7ea; //rgba(26, 183, 234, 1);
@vine: #00bf8f; //rgba(0, 191, 143, 1);
@whatsapp: #25D366; //rgba(37, 211, 102, 1);
@wordpress: #21759b; //rgba(33, 117, 155);
@youtube: #cd201f; //rgba(205, 32, 31, 1);


