<ul>
    <li>icon-abacus<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-abacus"></use></svg></li>
    
    <li>icon-airplay<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-airplay"></use></svg></li>
    
    <li>icon-angle-right<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-angle-right"></use></svg></li>
	
	<li>icon-arrow-right<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-arrow-right"></use></svg></li>
	
	<li>icon-book<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-book"></use></svg></li>
    
    <li>icon-briefcase<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-briefcase"></use></svg></li>
    
    <li>icon-building<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-building"></use></svg></li>
    
    <li>icon-car<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-car"></use></svg></li>
    
    <li>icon-chart-line<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-chart-line"></use></svg></li>
	
	<li>icon-coffee<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-coffee"></use></svg></li>
    
    <li>icon-comment-exclamation<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-comment-exclamation"></use></svg></li>
    
    <li>icon-comments<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-comments"></use></svg></li>
    
    <li>icon-desktop<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-desktop"></use></svg></li>
    
    <li>icon-envelope<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-envelope"></use></svg></li>
    
    <li>icon-facebook-messenger<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-facebook-messenger"></use></svg></li>
    
    <li>icon-graduation-hat<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-graduation-hat"></use></svg></li>
    
    <li>icon-heart<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-heart"></use></svg></li>
    
    <li>icon-heart-medical<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-heart-medical"></use></svg></li>
    
    <li>icon-info<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-info"></use></svg></li>
    
    <li>icon-label<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-label"></use></svg></li>
	
	<li>icon-laptop<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-laptop"></use></svg></li>
    
    <li>icon-layers<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-layers"></use></svg></li>
    
    <li>icon-location<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-location"></use></svg></li>
    
    <li>icon-microphone<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-microphone"></use></svg></li>
    
    <li>icon-mobile<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-mobile"></use></svg></li>
    
    <li>icon-pen<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-pen"></use></svg></li>
    
    <li>icon-percentage<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-percentage"></use></svg></li>
    
    <li>icon-phone<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-phone"></use></svg></li>
    
    <li>icon-plug<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-plug"></use></svg></li>
    
    <li>icon-plus<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-plus"></use></svg></li>
	
	<li>icon-pound<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-pound"></use></svg></li>
    
    <li>icon-presentation-play<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-presentation-play"></use></svg></li>
    
    <li>icon-restaurant<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-restaurant"></use></svg></li>
    
    <li>icon-twitter-alt<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-twitter-alt"></use></svg></li>
    
    <li>icon-user-check<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-user-check"></use></svg></li>
    
    <li>icon-users<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-users"></use></svg></li>
    
    <li>icon-video<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-video"></use></svg></li>
    
    <li>icon-webcam<svg><use xlink:href="../wp-content/themes/skv-npld-campus/assets/images/icons/symbol-defs.svg#icon-webcam"></use></svg></li>
    
</ul>

icon-abacus
icon-airplay
icon-angle-right
icon-arrow-right
icon-book
icon-briefcase
icon-building
icon-car
icon-chart-line
icon-coffee
icon-comment-exclamation
icon-comments
icon-desktop
icon-envelope
icon-facebook-messenger
icon-graduation-hat
icon-heart
icon-heart-medical
icon-info
icon-label
icon-laptop
icon-layers
icon-location
icon-microphone
icon-mobile
icon-pen
icon-percentage
icon-phone
icon-plug
icon-plus
icon-pound
icon-presentation-play
icon-restaurant
icon-twitter-alt
icon-user-check
icon-users
icon-video
icon-webcam
