/*! Posts */ 
// ==========================================================================

.post-details {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    color: rgba(127, 136, 143, 0.6);
    /*border-top: 1px solid rgba(127, 136, 143, 0.3);
    border-bottom: 1px solid rgba(127, 136, 143, 0.3);
    height: 4em;
    line-height: 4em;*/
}

.post-details span {
    margin-right: 0.5em;
}

.post-details span::after {
    content: '·';
    margin-left: 0.5em;
}

.post-details span:last-child::after {
    content: '';
}

/* Next-prev on single posts */
.next-prev {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.next-prev .prev-post,
.next-prev .next-post {
    width: 44%;
    padding: 1em 0;
}

.next-prev .prev-post {
    text-align: left;
}

.next-prev .next-post {
    text-align: right;
}

.next-prev .prev-post a:before,
.next-prev .next-post a:after {
    display: inline-block;
    font-family:'FontAwesome';
}

.next-prev .prev-post a:before {
    content: '\f060';
    margin-right: 0.5em;
}

.next-prev .next-post a:after {
    content: '\f061';
    margin-left: 0.5em;
}

@media screen and (max-width: 480px) {

    .next-prev {
        flex-direction: column;
        justify-content: space-between;
    }
    
    .next-prev .prev-post,
    .next-prev .next-post {
        width: 100%;
    }

}


/* Our Events page */
.our-events h2 {
    border-bottom: solid 3px rgba(241,138,24,0.5);
    display: inline-block;
    margin: 2em 0 0.25em 0;
    padding: 0 0 0.25em 0;
}

.our-events h2.h2-upcoming,
.single-events h2.h2-upcoming {
    border-bottom-color: rgba(0,95,139,0.5);
}

.our-events h3 a {
    border-bottom: none;
}

.posts-upcoming .due-date,
.single-events .due-date {
    background-color: rgba(0,95,139,0.05);
    border-left: 2px solid rgba(0,95,139,0.5);
    padding: 0.3em 0 0.3em 0.5em;
}

.posts-upcoming.posts .equal-h .box-style p.due-date {
    flex: none;
}

.posts-upcoming .button.special {
    background-color: rgba(0, 95, 139, 0.5);
}

.posts-upcoming .button.special:active,
.posts-upcoming .button.special:hover,
.posts-upcoming .button.special:focus {
    background-color: rgba(0, 95, 139, 1);
}

.posts-past.posts .equal-h article {
    border-color: rgba(241, 138, 24, 0.1);
}

.posts-past .due-date {
    background-color: rgba(241, 138, 24, 0.1);
    border-left: 2px solid rgba(241, 138, 24, 0.5);
    padding: 0.3em 0 0.3em 0.5em;
}

.posts-past.posts .equal-h .box-style p.due-date {
    flex: none;
}

