/*! Grid */
// ===========================================================================================

/* Row */

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

    .row > * {
        box-sizing: border-box;
    }

    .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.aln-left {
        justify-content: flex-start;
    }

    .row.aln-center {
        justify-content: center;
    }

    .row.aln-right {
        justify-content: flex-end;
    }

    .row.aln-top {
        align-items: flex-start;
    }

    .row.aln-middle {
        align-items: center;
    }

    .row.aln-bottom {
        align-items: flex-end;
    }

    .row > .imp {
        order: -1;
    }

    .row > .col-1 {
        width: 8.33333%;
    }

    .row > .off-1 {
        margin-left: 8.33333%;
    }

    .row > .col-2 {
        width: 16.66667%;
    }

    .row > .off-2 {
        margin-left: 16.66667%;
    }

    .row > .col-3 {
        width: 25%;
    }

    .row > .off-3 {
        margin-left: 25%;
    }

    .row > .col-4 {
        width: 33.33333%;
    }

    .row > .off-4 {
        margin-left: 33.33333%;
    }

    .row > .col-5 {
        width: 41.66667%;
    }

    .row > .off-5 {
        margin-left: 41.66667%;
    }

    .row > .col-6 {
        width: 50%;
    }

    .row > .off-6 {
        margin-left: 50%;
    }

    .row > .col-7 {
        width: 58.33333%;
    }

    .row > .off-7 {
        margin-left: 58.33333%;
    }

    .row > .col-8 {
        width: 66.66667%;
    }

    .row > .off-8 {
        margin-left: 66.66667%;
    }

    .row > .col-9 {
        width: 75%;
    }

    .row > .off-9 {
        margin-left: 75%;
    }

    .row > .col-10 {
        width: 83.33333%;
    }

    .row > .off-10 {
        margin-left: 83.33333%;
    }

    .row > .col-11 {
        width: 91.66667%;
    }

    .row > .off-11 {
        margin-left: 91.66667%;
    }

    .row > .col-12 {
        width: 100%;
    }

    .row > .off-12 {
        margin-left: 100%;
    }

    .row.gtr-0 {
        margin-top: 0;
        margin-left: 0em;
    }

        .row.gtr-0 > * {
            padding: 0 0 0 0em;
        }

        .row.gtr-0.gtr-uniform {
            margin-top: 0em;
        }

            .row.gtr-0.gtr-uniform > * {
                padding-top: 0em;
            }

    .row.gtr-25 {
        margin-top: 0;
        margin-left: -0.5em;
    }

        .row.gtr-25 > * {
            padding: 0 0 0 0.5em;
        }

        .row.gtr-25.gtr-uniform {
            margin-top: -0.5em;
        }

            .row.gtr-25.gtr-uniform > * {
                padding-top: 0.5em;
            }

    .row.gtr-50 {
        margin-top: 0;
        margin-left: -1em;
    }

        .row.gtr-50 > * {
            padding: 0 0 0 1em;
        }

        .row.gtr-50.gtr-uniform {
            margin-top: -1em;
        }

            .row.gtr-50.gtr-uniform > * {
                padding-top: 1em;
            }

    .row {
        margin-top: 0;
        margin-left: -2em;
    }

        .row > * {
            padding: 0 0 0 2em;
        }

        .row.gtr-uniform {
            margin-top: -2em;
        }

            .row.gtr-uniform > * {
                padding-top: 2em;
            }

    .row.gtr-150 {
        margin-top: 0;
        margin-left: -3em;
    }

        .row.gtr-150 > * {
            padding: 0 0 0 3em;
        }

        .row.gtr-150.gtr-uniform {
            margin-top: -3em;
        }

            .row.gtr-150.gtr-uniform > * {
                padding-top: 3em;
            }

    .row.gtr-200 {
        margin-top: 0;
        margin-left: -4em;
    }

        .row.gtr-200 > * {
            padding: 0 0 0 4em;
        }

        .row.gtr-200.gtr-uniform {
            margin-top: -4em;
        }

            .row.gtr-200.gtr-uniform > * {
                padding-top: 4em;
            }

    @media screen and (max-width: 1680px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row.gtr-uniform > * > :last-child {
                margin-bottom: 0;
            }

            .row.aln-left {
                justify-content: flex-start;
            }

            .row.aln-center {
                justify-content: center;
            }

            .row.aln-right {
                justify-content: flex-end;
            }

            .row.aln-top {
                align-items: flex-start;
            }

            .row.aln-middle {
                align-items: center;
            }

            .row.aln-bottom {
                align-items: flex-end;
            }

            .row > .imp-xlarge {
                order: -1;
            }

            .row > .col-1-xlarge {
                width: 8.33333%;
            }

            .row > .off-1-xlarge {
                margin-left: 8.33333%;
            }

            .row > .col-2-xlarge {
                width: 16.66667%;
            }

            .row > .off-2-xlarge {
                margin-left: 16.66667%;
            }

            .row > .col-3-xlarge {
                width: 25%;
            }

            .row > .off-3-xlarge {
                margin-left: 25%;
            }

            .row > .col-4-xlarge {
                width: 33.33333%;
            }

            .row > .off-4-xlarge {
                margin-left: 33.33333%;
            }

            .row > .col-5-xlarge {
                width: 41.66667%;
            }

            .row > .off-5-xlarge {
                margin-left: 41.66667%;
            }

            .row > .col-6-xlarge {
                width: 50%;
            }

            .row > .off-6-xlarge {
                margin-left: 50%;
            }

            .row > .col-7-xlarge {
                width: 58.33333%;
            }

            .row > .off-7-xlarge {
                margin-left: 58.33333%;
            }

            .row > .col-8-xlarge {
                width: 66.66667%;
            }

            .row > .off-8-xlarge {
                margin-left: 66.66667%;
            }

            .row > .col-9-xlarge {
                width: 75%;
            }

            .row > .off-9-xlarge {
                margin-left: 75%;
            }

            .row > .col-10-xlarge {
                width: 83.33333%;
            }

            .row > .off-10-xlarge {
                margin-left: 83.33333%;
            }

            .row > .col-11-xlarge {
                width: 91.66667%;
            }

            .row > .off-11-xlarge {
                margin-left: 91.66667%;
            }

            .row > .col-12-xlarge {
                width: 100%;
            }

            .row > .off-12-xlarge {
                margin-left: 100%;
            }

            .row.gtr-0 {
                margin-top: 0;
                margin-left: 0em;
            }

                .row.gtr-0 > * {
                    padding: 0 0 0 0em;
                }

                .row.gtr-0.gtr-uniform {
                    margin-top: 0em;
                }

                    .row.gtr-0.gtr-uniform > * {
                        padding-top: 0em;
                    }

            .row.gtr-25 {
                margin-top: 0;
                margin-left: -0.5em;
            }

                .row.gtr-25 > * {
                    padding: 0 0 0 0.5em;
                }

                .row.gtr-25.gtr-uniform {
                    margin-top: -0.5em;
                }

                    .row.gtr-25.gtr-uniform > * {
                        padding-top: 0.5em;
                    }

            .row.gtr-50 {
                margin-top: 0;
                margin-left: -1em;
            }

                .row.gtr-50 > * {
                    padding: 0 0 0 1em;
                }

                .row.gtr-50.gtr-uniform {
                    margin-top: -1em;
                }

                    .row.gtr-50.gtr-uniform > * {
                        padding-top: 1em;
                    }

            .row {
                margin-top: 0;
                margin-left: -2em;
            }

                .row > * {
                    padding: 0 0 0 2em;
                }

                .row.gtr-uniform {
                    margin-top: -2em;
                }

                    .row.gtr-uniform > * {
                        padding-top: 2em;
                    }

            .row.gtr-150 {
                margin-top: 0;
                margin-left: -3em;
            }

                .row.gtr-150 > * {
                    padding: 0 0 0 3em;
                }

                .row.gtr-150.gtr-uniform {
                    margin-top: -3em;
                }

                    .row.gtr-150.gtr-uniform > * {
                        padding-top: 3em;
                    }

            .row.gtr-200 {
                margin-top: 0;
                margin-left: -4em;
            }

                .row.gtr-200 > * {
                    padding: 0 0 0 4em;
                }

                .row.gtr-200.gtr-uniform {
                    margin-top: -4em;
                }

                    .row.gtr-200.gtr-uniform > * {
                        padding-top: 4em;
                    }

    }

    @media screen and (max-width: 1280px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row.gtr-uniform > * > :last-child {
                margin-bottom: 0;
            }

            .row.aln-left {
                justify-content: flex-start;
            }

            .row.aln-center {
                justify-content: center;
            }

            .row.aln-right {
                justify-content: flex-end;
            }

            .row.aln-top {
                align-items: flex-start;
            }

            .row.aln-middle {
                align-items: center;
            }

            .row.aln-bottom {
                align-items: flex-end;
            }

            .row > .imp-large {
                order: -1;
            }

            .row > .col-1-large {
                width: 8.33333%;
            }

            .row > .off-1-large {
                margin-left: 8.33333%;
            }

            .row > .col-2-large {
                width: 16.66667%;
            }

            .row > .off-2-large {
                margin-left: 16.66667%;
            }

            .row > .col-3-large {
                width: 25%;
            }

            .row > .off-3-large {
                margin-left: 25%;
            }

            .row > .col-4-large {
                width: 33.33333%;
            }

            .row > .off-4-large {
                margin-left: 33.33333%;
            }

            .row > .col-5-large {
                width: 41.66667%;
            }

            .row > .off-5-large {
                margin-left: 41.66667%;
            }

            .row > .col-6-large {
                width: 50%;
            }

            .row > .off-6-large {
                margin-left: 50%;
            }

            .row > .col-7-large {
                width: 58.33333%;
            }

            .row > .off-7-large {
                margin-left: 58.33333%;
            }

            .row > .col-8-large {
                width: 66.66667%;
            }

            .row > .off-8-large {
                margin-left: 66.66667%;
            }

            .row > .col-9-large {
                width: 75%;
            }

            .row > .off-9-large {
                margin-left: 75%;
            }

            .row > .col-10-large {
                width: 83.33333%;
            }

            .row > .off-10-large {
                margin-left: 83.33333%;
            }

            .row > .col-11-large {
                width: 91.66667%;
            }

            .row > .off-11-large {
                margin-left: 91.66667%;
            }

            .row > .col-12-large {
                width: 100%;
            }

            .row > .off-12-large {
                margin-left: 100%;
            }

            .row.gtr-0 {
                margin-top: 0;
                margin-left: 0em;
            }

                .row.gtr-0 > * {
                    padding: 0 0 0 0em;
                }

                .row.gtr-0.gtr-uniform {
                    margin-top: 0em;
                }

                    .row.gtr-0.gtr-uniform > * {
                        padding-top: 0em;
                    }

            .row.gtr-25 {
                margin-top: 0;
                margin-left: -0.375em;
            }

                .row.gtr-25 > * {
                    padding: 0 0 0 0.375em;
                }

                .row.gtr-25.gtr-uniform {
                    margin-top: -0.375em;
                }

                    .row.gtr-25.gtr-uniform > * {
                        padding-top: 0.375em;
                    }

            .row.gtr-50 {
                margin-top: 0;
                margin-left: -0.75em;
            }

                .row.gtr-50 > * {
                    padding: 0 0 0 0.75em;
                }

                .row.gtr-50.gtr-uniform {
                    margin-top: -0.75em;
                }

                    .row.gtr-50.gtr-uniform > * {
                        padding-top: 0.75em;
                    }

            .row {
                margin-top: 0;
                margin-left: -1.5em;
            }

                .row > * {
                    padding: 0 0 0 1.5em;
                }

                .row.gtr-uniform {
                    margin-top: -1.5em;
                }

                    .row.gtr-uniform > * {
                        padding-top: 1.5em;
                    }

            .row.gtr-150 {
                margin-top: 0;
                margin-left: -2.25em;
            }

                .row.gtr-150 > * {
                    padding: 0 0 0 2.25em;
                }

                .row.gtr-150.gtr-uniform {
                    margin-top: -2.25em;
                }

                    .row.gtr-150.gtr-uniform > * {
                        padding-top: 2.25em;
                    }

            .row.gtr-200 {
                margin-top: 0;
                margin-left: -3em;
            }

                .row.gtr-200 > * {
                    padding: 0 0 0 3em;
                }

                .row.gtr-200.gtr-uniform {
                    margin-top: -3em;
                }

                    .row.gtr-200.gtr-uniform > * {
                        padding-top: 3em;
                    }

    }

    @media screen and (max-width: 1024px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row.gtr-uniform > * > :last-child {
                margin-bottom: 0;
            }

            .row.aln-left {
                justify-content: flex-start;
            }

            .row.aln-center {
                justify-content: center;
            }

            .row.aln-right {
                justify-content: flex-end;
            }

            .row.aln-top {
                align-items: flex-start;
            }

            .row.aln-middle {
                align-items: center;
            }

            .row.aln-bottom {
                align-items: flex-end;
            }

            .row > .imp-medium {
                order: -1;
            }

            .row > .col-1-medium {
                width: 8.33333%;
            }

            .row > .off-1-medium {
                margin-left: 8.33333%;
            }

            .row > .col-2-medium {
                width: 16.66667%;
            }

            .row > .off-2-medium {
                margin-left: 16.66667%;
            }

            .row > .col-3-medium {
                width: 25%;
            }

            .row > .off-3-medium {
                margin-left: 25%;
            }

            .row > .col-4-medium {
                width: 33.33333%;
            }

            .row > .off-4-medium {
                margin-left: 33.33333%;
            }

            .row > .col-5-medium {
                width: 41.66667%;
            }

            .row > .off-5-medium {
                margin-left: 41.66667%;
            }

            .row > .col-6-medium {
                width: 50%;
            }

            .row > .off-6-medium {
                margin-left: 50%;
            }

            .row > .col-7-medium {
                width: 58.33333%;
            }

            .row > .off-7-medium {
                margin-left: 58.33333%;
            }

            .row > .col-8-medium {
                width: 66.66667%;
            }

            .row > .off-8-medium {
                margin-left: 66.66667%;
            }

            .row > .col-9-medium {
                width: 75%;
            }

            .row > .off-9-medium {
                margin-left: 75%;
            }

            .row > .col-10-medium {
                width: 83.33333%;
            }

            .row > .off-10-medium {
                margin-left: 83.33333%;
            }

            .row > .col-11-medium {
                width: 91.66667%;
            }

            .row > .off-11-medium {
                margin-left: 91.66667%;
            }

            .row > .col-12-medium {
                width: 100%;
            }

            .row > .off-12-medium {
                margin-left: 100%;
            }

            .row.gtr-0 {
                margin-top: 0;
                margin-left: 0em;
            }

                .row.gtr-0 > * {
                    padding: 0 0 0 0em;
                }

                .row.gtr-0.gtr-uniform {
                    margin-top: 0em;
                }

                    .row.gtr-0.gtr-uniform > * {
                        padding-top: 0em;
                    }

            .row.gtr-25 {
                margin-top: 0;
                margin-left: -0.375em;
            }

                .row.gtr-25 > * {
                    padding: 0 0 0 0.375em;
                }

                .row.gtr-25.gtr-uniform {
                    margin-top: -0.375em;
                }

                    .row.gtr-25.gtr-uniform > * {
                        padding-top: 0.375em;
                    }

            .row.gtr-50 {
                margin-top: 0;
                margin-left: -0.75em;
            }

                .row.gtr-50 > * {
                    padding: 0 0 0 0.75em;
                }

                .row.gtr-50.gtr-uniform {
                    margin-top: -0.75em;
                }

                    .row.gtr-50.gtr-uniform > * {
                        padding-top: 0.75em;
                    }

            .row {
                margin-top: 0;
                margin-left: -1.5em;
            }

                .row > * {
                    padding: 0 0 0 1.5em;
                }

                .row.gtr-uniform {
                    margin-top: -1.5em;
                }

                    .row.gtr-uniform > * {
                        padding-top: 1.5em;
                    }

            .row.gtr-150 {
                margin-top: 0;
                margin-left: -2.25em;
            }

                .row.gtr-150 > * {
                    padding: 0 0 0 2.25em;
                }

                .row.gtr-150.gtr-uniform {
                    margin-top: -2.25em;
                }

                    .row.gtr-150.gtr-uniform > * {
                        padding-top: 2.25em;
                    }

            .row.gtr-200 {
                margin-top: 0;
                margin-left: -3em;
            }

                .row.gtr-200 > * {
                    padding: 0 0 0 3em;
                }

                .row.gtr-200.gtr-uniform {
                    margin-top: -3em;
                }

                    .row.gtr-200.gtr-uniform > * {
                        padding-top: 3em;
                    }

    }

    @media screen and (max-width: 736px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row.gtr-uniform > * > :last-child {
                margin-bottom: 0;
            }

            .row.aln-left {
                justify-content: flex-start;
            }

            .row.aln-center {
                justify-content: center;
            }

            .row.aln-right {
                justify-content: flex-end;
            }

            .row.aln-top {
                align-items: flex-start;
            }

            .row.aln-middle {
                align-items: center;
            }

            .row.aln-bottom {
                align-items: flex-end;
            }

            .row > .imp-small {
                order: -1;
            }

            .row > .col-1-small {
                width: 8.33333%;
            }

            .row > .off-1-small {
                margin-left: 8.33333%;
            }

            .row > .col-2-small {
                width: 16.66667%;
            }

            .row > .off-2-small {
                margin-left: 16.66667%;
            }

            .row > .col-3-small {
                width: 25%;
            }

            .row > .off-3-small {
                margin-left: 25%;
            }

            .row > .col-4-small {
                width: 33.33333%;
            }

            .row > .off-4-small {
                margin-left: 33.33333%;
            }

            .row > .col-5-small {
                width: 41.66667%;
            }

            .row > .off-5-small {
                margin-left: 41.66667%;
            }

            .row > .col-6-small {
                width: 50%;
            }

            .row > .off-6-small {
                margin-left: 50%;
            }

            .row > .col-7-small {
                width: 58.33333%;
            }

            .row > .off-7-small {
                margin-left: 58.33333%;
            }

            .row > .col-8-small {
                width: 66.66667%;
            }

            .row > .off-8-small {
                margin-left: 66.66667%;
            }

            .row > .col-9-small {
                width: 75%;
            }

            .row > .off-9-small {
                margin-left: 75%;
            }

            .row > .col-10-small {
                width: 83.33333%;
            }

            .row > .off-10-small {
                margin-left: 83.33333%;
            }

            .row > .col-11-small {
                width: 91.66667%;
            }

            .row > .off-11-small {
                margin-left: 91.66667%;
            }

            .row > .col-12-small {
                width: 100%;
            }

            .row > .off-12-small {
                margin-left: 100%;
            }

            .row.gtr-0 {
                margin-top: 0;
                margin-left: 0em;
            }

                .row.gtr-0 > * {
                    padding: 0 0 0 0em;
                }

                .row.gtr-0.gtr-uniform {
                    margin-top: 0em;
                }

                    .row.gtr-0.gtr-uniform > * {
                        padding-top: 0em;
                    }

            .row.gtr-25 {
                margin-top: 0;
                margin-left: -0.3125em;
            }

                .row.gtr-25 > * {
                    padding: 0 0 0 0.3125em;
                }

                .row.gtr-25.gtr-uniform {
                    margin-top: -0.3125em;
                }

                    .row.gtr-25.gtr-uniform > * {
                        padding-top: 0.3125em;
                    }

            .row.gtr-50 {
                margin-top: 0;
                margin-left: -0.625em;
            }

                .row.gtr-50 > * {
                    padding: 0 0 0 0.625em;
                }

                .row.gtr-50.gtr-uniform {
                    margin-top: -0.625em;
                }

                    .row.gtr-50.gtr-uniform > * {
                        padding-top: 0.625em;
                    }

            .row {
                margin-top: 0;
                margin-left: -1.25em;
            }

                .row > * {
                    padding: 0 0 0 1.25em;
                }

                .row.gtr-uniform {
                    margin-top: -1.25em;
                }

                    .row.gtr-uniform > * {
                        padding-top: 1.25em;
                    }

            .row.gtr-150 {
                margin-top: 0;
                margin-left: -1.875em;
            }

                .row.gtr-150 > * {
                    padding: 0 0 0 1.875em;
                }

                .row.gtr-150.gtr-uniform {
                    margin-top: -1.875em;
                }

                    .row.gtr-150.gtr-uniform > * {
                        padding-top: 1.875em;
                    }

            .row.gtr-200 {
                margin-top: 0;
                margin-left: -2.5em;
            }

                .row.gtr-200 > * {
                    padding: 0 0 0 2.5em;
                }

                .row.gtr-200.gtr-uniform {
                    margin-top: -2.5em;
                }

                    .row.gtr-200.gtr-uniform > * {
                        padding-top: 2.5em;
                    }

    }

    @media screen and (max-width: 480px) {

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row.gtr-uniform > * > :last-child {
                margin-bottom: 0;
            }

            .row.aln-left {
                justify-content: flex-start;
            }

            .row.aln-center {
                justify-content: center;
            }

            .row.aln-right {
                justify-content: flex-end;
            }

            .row.aln-top {
                align-items: flex-start;
            }

            .row.aln-middle {
                align-items: center;
            }

            .row.aln-bottom {
                align-items: flex-end;
            }

            .row > .imp-xsmall {
                order: -1;
            }

            .row > .col-1-xsmall {
                width: 8.33333%;
            }

            .row > .off-1-xsmall {
                margin-left: 8.33333%;
            }

            .row > .col-2-xsmall {
                width: 16.66667%;
            }

            .row > .off-2-xsmall {
                margin-left: 16.66667%;
            }

            .row > .col-3-xsmall {
                width: 25%;
            }

            .row > .off-3-xsmall {
                margin-left: 25%;
            }

            .row > .col-4-xsmall {
                width: 33.33333%;
            }

            .row > .off-4-xsmall {
                margin-left: 33.33333%;
            }

            .row > .col-5-xsmall {
                width: 41.66667%;
            }

            .row > .off-5-xsmall {
                margin-left: 41.66667%;
            }

            .row > .col-6-xsmall {
                width: 50%;
            }

            .row > .off-6-xsmall {
                margin-left: 50%;
            }

            .row > .col-7-xsmall {
                width: 58.33333%;
            }

            .row > .off-7-xsmall {
                margin-left: 58.33333%;
            }

            .row > .col-8-xsmall {
                width: 66.66667%;
            }

            .row > .off-8-xsmall {
                margin-left: 66.66667%;
            }

            .row > .col-9-xsmall {
                width: 75%;
            }

            .row > .off-9-xsmall {
                margin-left: 75%;
            }

            .row > .col-10-xsmall {
                width: 83.33333%;
            }

            .row > .off-10-xsmall {
                margin-left: 83.33333%;
            }

            .row > .col-11-xsmall {
                width: 91.66667%;
            }

            .row > .off-11-xsmall {
                margin-left: 91.66667%;
            }

            .row > .col-12-xsmall {
                width: 100%;
            }

            .row > .off-12-xsmall {
                margin-left: 100%;
            }

            .row.gtr-0 {
                margin-top: 0;
                margin-left: 0em;
            }

                .row.gtr-0 > * {
                    padding: 0 0 0 0em;
                }

                .row.gtr-0.gtr-uniform {
                    margin-top: 0em;
                }

                    .row.gtr-0.gtr-uniform > * {
                        padding-top: 0em;
                    }

            .row.gtr-25 {
                margin-top: 0;
                margin-left: -0.3125em;
            }

                .row.gtr-25 > * {
                    padding: 0 0 0 0.3125em;
                }

                .row.gtr-25.gtr-uniform {
                    margin-top: -0.3125em;
                }

                    .row.gtr-25.gtr-uniform > * {
                        padding-top: 0.3125em;
                    }

            .row.gtr-50 {
                margin-top: 0;
                margin-left: -0.625em;
            }

                .row.gtr-50 > * {
                    padding: 0 0 0 0.625em;
                }

                .row.gtr-50.gtr-uniform {
                    margin-top: -0.625em;
                }

                    .row.gtr-50.gtr-uniform > * {
                        padding-top: 0.625em;
                    }

            .row {
                margin-top: 0;
                margin-left: -1.25em;
            }

                .row > * {
                    padding: 0 0 0 1.25em;
                }

                .row.gtr-uniform {
                    margin-top: -1.25em;
                }

                    .row.gtr-uniform > * {
                        padding-top: 1.25em;
                    }

            .row.gtr-150 {
                margin-top: 0;
                margin-left: -1.875em;
            }

                .row.gtr-150 > * {
                    padding: 0 0 0 1.875em;
                }

                .row.gtr-150.gtr-uniform {
                    margin-top: -1.875em;
                }

                    .row.gtr-150.gtr-uniform > * {
                        padding-top: 1.875em;
                    }

            .row.gtr-200 {
                margin-top: 0;
                margin-left: -2.5em;
            }

                .row.gtr-200 > * {
                    padding: 0 0 0 2.5em;
                }

                .row.gtr-200.gtr-uniform {
                    margin-top: -2.5em;
                }

                    .row.gtr-200.gtr-uniform > * {
                        padding-top: 2.5em;
                    }

    }

/* Container */

.container {
    margin: 0 auto;
    max-width: calc(100% - 4.5em);
    width: 45em;
}

    .container.xsmall {
        width: 11.25em;
    }

    .container.small {
        width: 22.5em;
    }

    .container.medium {
        width: 33.75em;
    }

    .container.large {
        width: 56.25em;
    }

    .container.xlarge {
        width: 67.5em;
    }

    .container.max {
        width: 100%;
    }

    @media screen and (max-width: 1024px) {

        .container {
            width: 100% !important;
        }

    }

    @media screen and (max-width: 480px) {

        .container {
            max-width: calc(100% - 3.375em);
        }

    }
