/*! Variables */
// ==========================================================================

@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,900;1,400&display=swap');



:root {
    /* https://coolors.co/generate/001823-003046-005f8b-80afc5-c0d7e2 */
    --blue: rgba(0, 95, 139, 1); /* #005F8B */
    
    --blue-lighter-1: rgba(128, 175, 197, 1); /* #80AFC5; */
    --blue-lighter-2: rgba(192, 215, 226, 1); /* #C0D7E2; */
    
    --blue-darker-1: rgba(0, 48, 70, 1); /* #003046; */
    --blue-darker-2: rgba(0, 24, 35, 1); /* #001823; */

    /* https://coolors.co/generate/3d2306-79450c-f18a18-f8c58c-fce2c6 */
    --orange: rgba(241, 138, 24, 1); /* #F18A18 */
    
    --orange-lighter-1: rgba(252, 167, 72, 1); /* #FCA748; */
    --orange-lighter-2: rgba(255, 188, 113, 1); /*#FFBC71; */
    --orange-lighter-3: rgba(248, 197, 140, 1); /* #F8C58C; */
    --orange-lighter-4: rgba(252, 226, 198, 1); /*#FCE2C6; */
    
    --orange-darker-1: rgba(121, 69, 12, 1); /* #79450C; */

    /* https://coolors.co/generate/871500-af1f05-da3212-ef593d-ff8069 */
    --red: rgba(218, 50, 18, 1); /* #DA3212 */

    --red-lighter-1: rgba(239, 89, 61, 1); /* #EF593D; */
    --red-lighter-2: rgba(255, 128, 105, 1); /* #FF8069; */
    
    --red-darker-1: rgba(175, 31, 5, 1); /* #AF1F05; */
    --red-darker-2: rgba(135, 21, 0, 1); /* #871500; */

    --black: rgba(85, 85, 85, 1); /* #555555 */
    --black-lighter-1: rgba(161, 162, 164, 1); /* #A1A2A4 */
    --black-lighter-2: rgba(237, 239, 242, 1); /* #EDEFF2 */

}


/* Social palette */
@facebook: #3b5998; //rgba(59, 89, 152, 1); 
@flickr: #ff0084; // rgba(255, 0, 132, 1);
@twitter: #55acee; //rgba(85, 172, 238, 1);
@googleplus: #dd4b39; //rgba(211, 75, 57, 1);
@instagram: #517fa4; //rgba(81, 127, 164, 1);
@linkedin: #0075b5; //rgba(0, 119, 181, 1);
@periscope: #40a4c4; //rgba(64, 164, 196, 1);
@pinterest: #bd081c; //rgba(189, 8, 28, 1);
@skype: #00aff0; //rgba(0, 175, 240, 1);
@vimeo: #1ab7ea; //rgba(26, 183, 234, 1);
@vine: #00bf8f; //rgba(0, 191, 143, 1);
@whatsapp: #25D366; //rgba(37, 211, 102, 1);
@wordpress: #21759b; //rgba(33, 117, 155);
@youtube: #cd201f; //rgba(205, 32, 31, 1);


