/*! Pages, posts, events, members */
// ==========================================================================


/* Pages ***/

/* grid posts & cards */
.divider-flex {
    display: flex;
    flex-wrap: wrap;
}

.cards,
.posts {
    margin-left: -1.25em;
}

.equal-h {
    display: flex;
    padding: 1.25em 0 0 1.25em;
}

.equal-h article {
    margin-bottom: 0;
	background: rgba(0, 95, 139, 0.05);
    border-radius: 0.275em;
}

.posts .equal-h article {
    background: white;
    border: 1.25em solid rgba(0, 95, 139, 0.05);
}

.equal-h .box-style {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 1.25em;
}

.equal-h .box-style a.thumbnail {
    border: 0;
    background-color: @blue;
    border-radius: 0.275em;
}

.equal-h .box-style img {
	width: 100%;
    height: auto;
    display: block;
    opacity: 0.9;
    border-radius: 0.275em;
    .transition02;
}

.equal-h .box-style a:hover img,
.equal-h .box-style a:focus img {
    opacity: 1;
}

.equal-h .box-style h2 {
	text-transform: uppercase;
    line-height: 1.2;
    margin: 0.5em 0;
    font-size: 1.5em;
}

.posts .equal-h .box-style h3 {
    line-height: 1.1;
    font-size: 2em;
    margin-top: 1em;
}

.cards .equal-h .box-style h3 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.25em;
}

.equal-h .box-style p {
	flex: 1 0 auto;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {

    .equal-h .box-style h2 {
        font-size: 2em;
    }

}

.card-full {
    margin-bottom: 2em;
}

.card-row:first-child {
    border-top: solid 1px rgba(210, 215, 217, 0.75);
}

.card-row {
    border-bottom: solid 1px rgba(210, 215, 217, 0.75);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-row .card-col {
    padding: 1em 1.25em;
}

.card-row .card-col:first-child {
    flex: 1;
    background-color: rgba(0, 95, 139, 0.05);
    text-transform: uppercase;
}

.card-row .card-col:last-child {
    flex: 2;
    color: #3D4449;
}

.card-row .card-col h2,
.card-row .card-col p {
    margin: 1em 0;
}

.card-row .card-col img {
    width: 100%;
    height: auto;
    padding: 1.25em 0;
}

.card-row .card-col.with-img {
    display: flex;
    flex-direction: column;
    /*background-color: rgba(0, 95, 139, 0.05);*/
}

@media screen and (max-width: 768px) {
    .card-row {
        flex-direction: column;
    }
}


/* Members ***/
ul.docs,
ul.doc-download {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul.doc-download {
    list-style: none;
    padding: 0;
}

ul.docs.two-cols {
    flex-direction: row;
}

ul.docs.two-cols li {
    width: 49%;
    margin-right: 0.5%;
}

ul.doc-download li {
    padding-left: 0;
    border-top: 0;
    border-bottom: solid 1px rgba(210, 215, 217, 0.75);
}

ul.doc-download li:first-child {
    //padding-top: 0.75em;
}

ul.docs li:hover,
ul.doc-download li:hover,
ul.doc-download li:focus {
    background-color: rgba(0, 95, 139, 0.05);
}

ul.docs li a,
ul.doc-download li a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-bottom: 0;
    color: #3D4449 !important;
}

ul.docs li a svg {
    margin-right: auto;
    fill: rgba(241, 138, 24, 0.5);
    height: 3em;
    width: 3em;
    margin-right: 2em;
}

ul.docs li a span:nth-child(2),
ul.doc-download li a span:nth-child(2) {
    flex: 2;
    padding: 0 0.5em;
}

ul.docs li a span:nth-child(3),
ul.doc-download li a span:nth-child(3) {
    flex: 1;
    text-align: right;
    
    display: none; /* Eva request to remove date */
}

ul.docs .members a {
    display: inline-block;
    width: 100%;
}

ul.docs .members span {
    color: @orange;
    text-align: right;
    float: right;
    margin-left: 1em;
}

@media screen and (max-width: 768px) {
    ul.docs.two-cols li {
        width: 100%;
        margin-right: 0;
    }
}

/* File format icons */
.filetype-icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    color: rgba(241,138,24,0.5);
    font-size: 3em;
    margin-right: 0.25em;
}

.filetype-pdf:before {
    content:"\f1c1";
}

.filetype-m4r:before, .filetype-au:before, .filetype-snd:before, .filetype-mid:before, .filetype-midi:before, .filetype-kar:before, .filetype-mpga:before, .filetype-mp2:before, .filetype-mp3:before, .filetype-aif:before, .filetype-aiff:before, .filetype-aifc:before, .filetype-m3u:before, .filetype-ram:before, .filetype-rm:before, .filetype-rpm:before, .filetype-ra:before, .filetype-wav:before, .filetype-wave:before {
    content:"\f1c7";
}

.filetype-mpeg:before, .filetype-mpg:before, .filetype-mpe:before, .filetype-qt:before, .filetype-mov:before, .filetype-mxu:before, .filetype-avi:before, .filetype-movie:before, .filetype-mp4:before, .filetype-divx:before, .filetype-wmv:before {
    content:"\f1c8";
}

.filetype-zip:before, .filetype-gz:before, .filetype-rar:before, .filetype-sit:before, .filetype-tar:before, .filetype-7z:before {
    content:"\f1c6";
}

.filetype-xls:before, .filetype-tsv:before, .filetype-csv:before, .filetype-xlsx:before {
    content:"\f1c3";
}

.filetype-doc:before, .filetype-docx:before {
    content:"\f1c2";
}

.filetype-ai:before {
    content:"\f1c5";
}

.filetype-swf:before {
    content:"\f15b";
}

.filetype-eps:before, .filetype-ps:before, .filetype-bmp:before, .filetype-gif:before, .filetype-ief:before, .filetype-jpeg:before, .filetype-jpg:before, .filetype-jpe:before, .filetype-png:before, .filetype-tiff:before, .filetype-tif:before, .filetype-djv:before, .filetype-wbmp:before, .filetype-ras:before, .filetype-pnm:before, .filetype-pbm:before, .filetype-pgm:before, .filetype-ppm:before, .filetype-rgb:before, .filetype-xbm:before, .filetype-xpm:before, .filetype-xwd:before {
    content:"\f1c5";
}

.filetype-psd:before {
    content:"\f1c5";
}

.filetype-ppt:before, .filetype-pptx:before {
    content:"\f1c4";
}

.filetype-js:before, .filetype-css:before, .filetype-as:before, .filetype-htm:before, .filetype-htaccess:before, .filetype-sql:before, .filetype-html:before, .filetype-php:before, .filetype-xml:before, .filetype-xsl:before {
    content:"\f1c9";
}

.filetype-rtx:before, .filetype-rtf:before {
    content:"\f15c";
}

.filetype-txt:before {
    content:"\f15c";
}

.filetype-fol:before {
    content:"\f07b";
}
/* /file format icon */


/* Breadcrumbs nav */
#breadcrumbs {
    list-style: none;
    margin: 0 auto 2em;
    overflow: hidden;
    background-color: rgba(0,95,139,0.05);
    border-left: 2px solid rgba(0,95,139,0.5);
    padding: 0.1em 0 0.1em 0.7em;
    font-style: italic;
}

#breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding-left: 0;
}

#breadcrumbs li.item-current {
    font-weight: 600;
}

#breadcrumbs li:nth-child(1),
#breadcrumbs li:nth-child(2),
#breadcrumbs li:nth-child(3),
#breadcrumbs li:nth-child(4) {
    display: none;
}

#breadcrumbs a {
    color: #7f888f;
}
  
#breadcrumbs .separator {
    font-size: 18px;
    font-weight: 100;
    color: #ccc;
}


/* Login members only ***/
.lost-password {
    display: table;
    font-size: 0.85em;
    margin: -1.5em 0 2em;
}


/* Blog ***/
.blog #main,
.single-post #main {
    border-color: rgba(241, 138, 24, 0.5);
}

.logged-in #main {
    border-color: rgba(218, 50, 18, 0.5);
}

.blog #header,
.single #header {
    border-color: rgba(0, 95, 139, 0.5);
}

.logged-in #header {
    border-color: rgba(0, 95, 139, 0.5);
}

.blog-single h1 {
    line-height: 1.1;
}


/* Search results ***/
ul.search-results {
    padding-left: 1em;
    margin-top: 2em;
}

ul.search-results li {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px rgba(0,95,139,0.5);
    margin-bottom: 3em;
}


/* Publications ***/
.posts.posts-publications .equal-h article {
    border-width: 0.4em;
    border-color: rgba(0,95,139,0.1);
}

.posts-publications .equal-h .box-style h2 {
    font-size: 1.8em;
    line-height: 1.3;
    margin-top: 0;
}

.posts-publications .equal-h .box-style p {
    margin: 1.5em 0;
}

.posts-publications .extra-fields {
    background-color: rgba(0,95,139,0.1);
    border-left: 2px solid rgba(0,95,139,0.5);
    padding: 0.3em 0 0.3em 0.75em;
    font-size: 1.35em;
    color: @black;
}

.posts-publications .extra-fields strong {
    margin-right: 1em;
}

.posts-publications .extra-fields i {
    font-size: 0.75em;
}

.posts-publications .extra-fields i span {
    margin: 0 0.3em;
}

.posts-publications .extra-fields i:first-of-type {
    margin-left: 1.3em;
}

/*.posts-publications .extra-fields i::before {
    content: '#';
}*/

.posts-publications .equal-h .box-style .authorship {
    margin-bottom: 0;
    color: rgba(127, 136, 143, 0.75);
}

.posts-publications .dl-link {
    font-size: 1.15em;
    font-weight: 700;
}


/* Events ***/ 
/*.single-event .event-details {
    background-color: rgba(0, 95, 139, 0.05);
    padding: 2em 3em;
    margin-bottom: 3em;
}

.single-event .event-details h2 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

.single-event ul {
    list-style: none;
    padding: 0;
}

.single-event ul li {
    padding: 0;
    line-height: 2;
}*/