/*! Plugins */
/* page 404 */
/* https://codepen.io/bali_balo/pen/yaXQLQ */
.svg-404 {
  width: 100%;
  text-align: center;
  margin: 0;
}
.svg-404 svg {
  width: 100%;
  margin-top: 0;
  background: #ffffff;
}
.svg-404 rect {
  fill: #005f8b;
}
/**
  * Memphis Docs plugin
  * Doc manager
  * overwriting default styles
  **/
.mdocs a {
  border-bottom: none;
  color: #F18A18;
}
.mdocs a:hover,
.mdocs a:focus {
  color: rgba(241, 138, 24, 0.5);
}
.mdocs-share-btn {
  margin: 10px 5px !important;
  color: #fff !important;
}
.mdocs-share-btn:hover,
.mdocs-share-btn:focus {
  color: #fff !important;
}
.fas.fa-folder,
.fas.fa-folder-open {
  font-size: 24px;
}
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
  padding: 12px !important;
}
#mdocs-list-table .mdocs-version em,
#mdocs-list-table .mdocs-modified em,
#mdocs-list-table .mdocs-downloads em,
#mdocs-list-table .mdocs-downloads small {
  color: #777 !important;
}
#mdocs-list-table .mdocs-downloads small {
  display: none;
}
#mdocs-list-table .mdocs-author em {
  color: #005F8B !important;
}
.mdocs-download-btn,
.mdocs-download-btn:active {
  color: #F18A18 !important;
}
.mdocs-download-btn:hover,
.mdocs-download-btn:focus {
  color: rgba(241, 138, 24, 0.5) !important;
}
.mdocs-dropdown-menu > li > a {
  color: #777;
}
.mdocs-dropdown-menu > li > a.description-preview,
.mdocs-dropdown-menu > li > a.file-preview,
.mdocs-dropdown-menu > li > a.img-preview,
.mdocs-dropdown-menu > li > a.sharing-button,
.mdocs-dropdown-menu > li > a.versions-button {
  display: none;
}
.mdoc-navbar-container .navbar {
  box-shadow: none !important;
}
/**
 * 
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
  clear: both;
}
.eupopup-container {
  background-color: rgba(0, 95, 139, 0.95);
  color: #ffffff;
  padding: 10px 30px;
  font-size: 14px;
  line-height: 1.7em;
  text-align: center;
  letter-spacing: 0.05em;
  display: none;
  z-index: 9999999;
}
.eupopup-container-top,
.eupopup-container-fixedtop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.eupopup-container-fixedtop {
  position: fixed;
}
.eupopup-container-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.eupopup-container-bottomleft {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 300px;
}
.eupopup-container-bottomright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
}
.eupopup-closebutton {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 5px 7px;
  border: none;
}
.eupopup-closebutton svg {
  width: 22px;
  fill: #ffbc71;
  pointer-events: none;
  vertical-align: top;
}
.eupopup-closebutton:hover,
.eupopup-closebutton:active {
  color: #fff;
  text-decoration: none;
}
.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
  fill: #f18a18;
}
.eupopup-head {
  font-weight: 800;
  padding: 7px;
  color: #fff;
}
.eupopup-body {
  color: #ffffff;
  font-weight: 300;
}
.eupopup-buttons {
  padding: 14px 0 10px 0;
  text-transform: uppercase;
}
.eupopup-button_1 {
  color: #003650;
  background-color: #f18a18;
}
.eupopup-button_2 {
  color: #f18a18;
  background-color: transparent;
}
.eupopup-button {
  margin: 0 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
}
.eupopup-button_1:hover,
.eupopup-button_1:focus {
  text-decoration: none;
  color: #003650 !important;
  background-color: #ffbc71 !important;
}
.eupopup-button_2:hover,
.eupopup-button_2:focus {
  color: #ffbc71 !important;
}
body .eupopup-color-inverse {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
}
body .eupopup-color-inverse .eupopup-head {
  color: #000;
}
body .eupopup-style-compact {
  text-align: left;
  padding: 8px 30px 7px 20px;
  line-height: 15px;
}
body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
  display: inline;
  padding: 0;
  margin: 0;
}
body .eupopup-style-compact .eupopup-button {
  margin: 0 5px;
}
.eupopup-container-hide {
  display: none !important;
}
