/*********************************************
  * Filename: style.css
  * Website: http://tavernadelasal.com/
  * Author: Sokvist
  * Author URI: http://www.sokvist.com
  * Date: 25/04/2018
  * Version: 1.0 
*********************************************/


@import "reset.less";
@import "variables.less";
@import "mixins.less";
@import "font-awesome.less";
@import "grid.less";


/* Basic */
/*********************************************************************************/
body {
    background: #ffffff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after, body.is-resizing *, body.is-resizing *:before, body.is-resizing *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}


/* Type */

body, input, select, textarea {
    color: #7f888f;
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.65;
}

a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: rgba(241, 138, 24, 0.5);
    text-decoration: none;
}

a:hover {
    border-bottom-color: #F18A18;
    color: #F18A18 !important;
}

a:hover strong {
    color: inherit;
}

strong, b {
    color: #3d4449;
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #3D4449;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 4em;
    margin: 0 0 0.5em 0;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 3px rgba(210, 215, 217, 0.75);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    background: rgba(230, 235, 237, 0.25);
    border-radius: 0.275em;
    border: solid 1px rgba(210, 215, 217, 0.75);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(210, 215, 217, 0.75);
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 10pt;
    }

}

@media screen and (max-width: 360px) {

    body, input, select, textarea {
        font-size: 9pt;
    }

}

@media screen and (max-width: 1680px) {

    h1 {
        font-size: 3.3em;
    }

}

@media screen and (max-width: 980px) {

    h1 {
        font-size: 3.15em;
    }

}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 2.2em;
        line-height: 1.3;
    }

    h2 {
        font-size: 2em;
    }

}


/* Section/Article */

section.special,
article.special {
    text-align: center;
}

#banner header p {
    font-family: 'Hind', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: uppercase;
}

header.major > :last-child {
    border-bottom: solid 3px rgba(241, 138, 24, 0.5);
    display: inline-block;
    margin: 0 0 2em 0;
    padding: 0 0 0.25em 0;
}

header.main > :last-child {
    margin: 0 0 1em 0;
}

header.main h1 {
    line-height: 1.1;
}

/* Form */

form {
    margin: 0 0 2em 0;
}

label {
    color: #3d4449;
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #ffffff;
    border-radius: 0.275em;
    border: none;
    border: solid 1px rgba(210, 215, 217, 0.75);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: rgba(241, 138, 24, 0.5);
    box-shadow: 0 0 0 1px rgba(241, 138, 24, 0.5);
}

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.select-wrapper:before {
    color: rgba(210, 215, 217, 0.75);
    content: '\f078';
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
}

.select-wrapper select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em; 
    opacity: 0;
    width: 1em;
    //height: 1em;
    z-index: -1;
    //border: solid 1px rgba(210, 215, 217, 0.75);
    //margin-right: 0.25em;
}

/*input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @orange;
    margin: -4px 0 0 -1px;
}*/

input[type=checkbox]:checked:before {
    content: "\2714";
}

input[type=radio]:checked:before {
    content: "\0025cf";
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    color: red;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: blue;
    border-radius: 0.275em;
    border: solid 1px rgba(210, 215, 217, 0.75);
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: #3d4449;
    border-color: #3d4449;
    color: blue;
    content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: rgba(241, 138, 24, 0.5);
    box-shadow: 0 0 0 1px rgba(241, 138, 24, 0.5);
}

input[type="checkbox"] + label:before {
    border-radius: 0.275em;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
}

#loginform {
    max-width: 340px;
}

/* Box */

.box {
    border-radius: 0.275em;
    border: solid 1px rgba(210, 215, 217, 0.75);
    margin-bottom: 2em;
    padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Image */

.image {
    border-radius: 0.375em;
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    border-radius: 0.275em;
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

a.image {
    overflow: hidden;
}

a.image img {
    -moz-transition: -moz-transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease;
    -ms-transition: -ms-transform 0.2s ease;
    transition: transform 0.2s ease;
}

a.image:hover img {
    -moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}

/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px rgba(210, 215, 217, 0.75);
    padding: 0.75em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.alt li:last-child {
    /*border-bottom: solid 1px rgba(210, 215, 217, 0.75);*/
}

ul.docs.alt,
ul.doc-download {
    border-top: solid 1px rgba(210, 215, 217, 0.75);
}

ul.docs.alt li {
    border-top: 0;
    border-bottom: solid 1px rgba(210, 215, 217, 0.75);
}

ul.docs.alt li:first-child {
    padding-top: 0.75em;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon {
    color: rgba(241, 138, 24, 0.5);
}

ul.icons li .icon:before {
    font-size: 1.65em;
}

ul.contact {
    list-style: none;
    padding: 0;
}

ul.contact li {
    text-decoration: none;
    /*border-top: solid 1px rgba(210, 215, 217, 0.75);*/
    margin: 1.5em 0 0 0;
    padding: 0.5em 0 0 3em;
    position: relative;
}

ul.contact li:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.contact li:before {
    color: rgba(241, 138, 24, 0.5);
    display: inline-block;
    font-size: 1.5em;
    height: 1.125em;
    left: 0;
    line-height: 1.125em;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 1.5em;
}

ul.contact li:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

ul.contact li:first-child:before {
    top: 0;
}

ul.contact li a {
    color: inherit;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: ~"calc(100% + 1em)";
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li > * {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: ~"calc(100% + 0.5em)";
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

ul.pagination {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin: 2em 0;
}

ul.pagination li {
    display: inline-block;
    padding-left: 0;
    vertical-align: middle;
}

ul.pagination li > .page,
ul.pagination li > a {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: 0;
    border-radius: 0.275em;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    height: 2em;
    line-height: 2em;
    margin: 0 0.125em;
    min-width: 2em;
    padding: 0 0.5em;
    text-align: center;
}

ul.pagination li.active > .page {
    background-color: rgba(241, 138, 24, 0.5);
    color: #ffffff !important;
}

ul.pagination li.active > .page:hover {
    background-color: #f67878;
}

ul.pagination li.active > .page:active {
    background-color: #f45c5c;
}

ul.pagination li:first-child {
    //padding-right: 0.75em;
}

ul.pagination li:last-child {
    //padding-left: 0.75em;
}

@media screen and (max-width: 480px) {

    ul.pagination li:nth-child(n+2):nth-last-child(n+2) {
        display: none;
    }

    ul.pagination li:first-child {
        padding-right: 0;
    }

}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 600;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px rgba(210, 215, 217, 0.75);
    border-left: 0;
    border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(230, 235, 237, 0.25);
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    color: #3d4449;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px rgba(210, 215, 217, 0.75);
}

table tfoot {
    border-top: solid 2px rgba(210, 215, 217, 0.75);
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px rgba(210, 215, 217, 0.75);
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.275em;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(241, 138, 24, 0.5);
    color: rgba(241, 138, 24, 0.5) !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: 0.075em;
    line-height: 3.5em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: rgba(241, 138, 24, 0.05);
    box-shadow: inset 0 0 0 2px rgba(241, 138, 24, 1);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: rgba(241, 138, 24, 0.15);
    box-shadow: inset 0 0 0 2px rgba(241, 138, 24, 1);
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.6em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
    font-size: 1em;
    height: 3.65em;
    line-height: 3.65em;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    background-color: rgba(241, 138, 24, 0.5);
    box-shadow: none;
    color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
    background-color: rgba(241, 138, 24, 1);
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
    background-color: rgba(241, 138, 24, 1);
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
}

/* Mini Posts */

.mini-posts article {
    border-top: solid 1px rgba(210, 215, 217, 0.75);
    margin-top: 2em;
    padding-top: 2em;
}

.mini-posts article .image {
    display: block;
    margin: 0 0 1.5em 0;
}

.mini-posts article .image img {
    display: block;
    width: 100%;
}

.mini-posts article:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

/* Features */
.features {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 2em -3em;
    width: ~"calc(100% + 3em)";
}

.features a {
    display: contents;
    border: none;
}

.features a h3 {
    color: #3D4449;
}

.features a p {
    color: #7F888F;
}

.features article.two-cols,
.features article.three-cols {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 0 3em 3em;
    position: relative;
    width: ~"calc(50% - 3em)";
}

.features article.three-cols {
    margin: 0 0 3em 3em;
    width: ~"calc(33% - 3em)";
    
    padding: 2em;
    border: 5px solid rgba(241, 138, 24, 0.5);
    border-radius: 0.275em;
    transition: all 0.3s ease-in-out;
}

/*.features article.three-cols:before {
    content: '';
    position: absolute;
    top: -5px; 
    right: -5px;
    border-top: 40px solid white;
    border-left: 40px solid @orange;
    width: 0;
}*/

.features a:hover article.three-cols {
    background-color: rgba(241, 138, 24, 1);
}

/*.features a:hover article.three-cols:before {
    border-left-color: @orange1;
}*/

.features article.two-cols:nth-child(2n - 1) {
    margin-right: 1.5em;
}

.features article.two-cols:nth-child(2n) {
    margin-left: 1.5em;
}

.features article.two-cols:nth-last-child(1),
.features article.two-cols:nth-last-child(2) {
    margin-bottom: 0;
}

.features article.three-cols:nth-child(2) {
    margin-left: 3em;
    margin-right: 3em;
}

.features article.three-cols:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
}

.features article .icon,
.features article .icon .svg-icon {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    display: block;
    height: 10em;
    line-height: 10em;
    margin: 0 1em 0 0;
    text-align: center;
    width: 10em;
}

.features article .icon:before {
    color: rgba(241, 138, 24, 0.5);
    font-size: 4.75rem;
    position: relative;
    top: 0.05em;
}

.features article .icon .svg-icon {
    fill: rgba(241, 138, 24, 1);
    margin: 0;
    padding: 0.5em;
}

.features a article .icon .svg-icon {
    transition: all 0.3s ease-in-out;
}

.features a:hover article .icon .svg-icon,
.features a:focus article .icon .svg-icon {
    fill: rgba(241, 138, 24, 0.25);
}

.features a article h3 {
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid rgba(241, 138, 24, 0.25);
}

.features a:hover article h3,
.features a:focus article h3,
.features a:hover article p,
.features a:focus article p {
    color: rgba(241, 138, 24, 1);
    color: white;
    border-bottom-color: @orange1;
}

.features article .content {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}

.features article .content > :last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 980px) {

    .features {
        margin: 0 0 2em 0;
        width: 100%;
    }

    .features article.two-cols,
    .features article.three-cols {
        margin: 0 0 3em 0;
        width: 100%;
    }

    .features article.two-cols:nth-child(2n - 1) {
        margin-right: 0;
    }

    .features article.two-cols:nth-child(2n) {
        margin-left: 0;
    }

    .features article.two-cols:nth-last-child(1),
    .features article.two-cols:nth-last-child(2) {
        margin-bottom: 3em;
    }

    .features article.two-cols:last-child {
        margin-bottom: 0;
    }
    
    .features article.three-cols:nth-child(2n) {
        margin-left: 0;
        margin-right: 0;
    }

    .features article .icon,
    .features article .icon .svg-icon {
        height: 8em;
        line-height: 8em;
        width: 8em;
    }

    .features article.two-cols .icon:before,
    .features article.three-cols .icon:before {
        font-size: 2.25rem;
    }

    .features article.two-cols .icon:after,
    .features article.three-cols .icon:after {
        height: 6em;
        margin: -3em 0 0 -3em;
        width: 6em;
    }

}

@media screen and (max-width: 768px) {
    
    .features a article h3 {
        font-size: 2.2em;
        margin-bottom: 0.7em;
    }
    
    .features a article p {
        font-size: 1.35em;
    }
    
}

@media screen and (max-width: 480px) {

    .features article.two-cols,
    .features article.three-cols {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-align-items: -moz-flex-start;
        -webkit-align-items: -webkit-flex-start;
        -ms-align-items: -ms-flex-start;
        align-items: flex-start;
    }

    .features article .icon,
    .features article .icon .svg-icon {
        height: 6em;
        line-height: 6em;
        margin: 0 0 1.5em 0;
        width: 6em;
    }

    .features article.two-cols .icon:before,
    .features article.three-cols .icon:before {
        font-size: 1.5rem;
    }

    .features article.two-cols .icon:after,
    .features article.three-cols .icon:after {
        height: 4em;
        margin: -2em 0 0 -2em;
        width: 4em;
    }

}

@media screen and (max-width: 480px) {

    .features article.two-cols .icon:before,
    .features article.three-cols .icon:before {
        font-size: 1.25rem;
    }

}


/* Wrapper */

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    min-height: 100vh;
}

/* Main */

#main {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
    border: solid 10px #005F8B;
    border-radius: 0.275em;
}

#main > .inner {
    padding: 0 6em 0.1em 6em ;
    margin: 0 auto;
    max-width: 90em;
}

#main > .inner > section {
    padding: 6em 0 4em 0 ;
    border-top: solid 1px rgba(0, 95, 139, 0.5);
}

#main > .inner > section:first-of-type {
    border-top: 0 !important;
}

@media screen and (max-width: 1680px) {

    #main > .inner {
        padding: 0 5em 0.1em 5em;
    }

    #main > .inner > section {
        padding: 5em 0 3em 0;
    }
    
    #main > .inner > section.i-map {
        padding: 0 0 2em 0;
    }

}

@media screen and (max-width: 1280px) {

    #main > .inner {
        padding: 0 4em 0.1em 4em ;
    }

    #main > .inner > section {
        padding: 4em 0 2em 0 ;
    }

}

@media screen and (max-width: 736px) {

    #main > .inner {
        padding: 0 2em 0.1em 2em ;
    }

    #main > .inner > section {
        padding: 3em 0 1em 0 ;
    }

}

/* Sidebar */

#search form {
    text-decoration: none;
    position: relative;
}

#search form:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#search form:before {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    color: #7f888f;
    content: '\f002';
    cursor: default;
    display: block;
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    opacity: 0.325;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2em;
}

#search form input[type="text"] {
    padding-right: 2.75em;
}

#sidebar {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -moz-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    -webkit-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    -ms-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    transition: margin-left 0.5s ease, box-shadow 0.5s ease;
    background-color: #f2f7f9;
    font-size: 0.9em;
    position: relative;
    width: 26em;
}

#sidebar h2 {
    font-size: 1.38889em;
}

#sidebar > .inner {
    padding: 2.22222em 2.22222em 2.44444em 2.22222em ;
    position: relative;
    width: 26em;
    background-color: transparent;
}

#sidebar > .inner > * {
    border-bottom: solid 2px rgba(0, 95, 139, 0.5);
    margin: 0 0 3.5em 0;
    padding: 0 0 3.5em 0;
}

#sidebar > .inner > * > :last-child {
    margin-bottom: 0;
}

#sidebar > .inner > *:last-child {
    /*border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;*/
}

#sidebar .inner .login-top {
    border-bottom: 0;
    padding: 0;
    margin: 0 0 3em 0;
}

#sidebar .inner .login-top ul.actions li {
    /*width: 49%;*/
}

#sidebar .inner .login-top ul.actions li:first-child {
    padding: 0 1% 0 0;
}

#sidebar .inner .login-top ul.actions li:last-child {
    padding: 0 0 0 1%;
}

#sidebar > .inner > .alt {
    background-color: rgba(0, 95, 139, 0.05);
    border-bottom: 0;
    margin: -2.22222em 0 4.44444em -2.22222em;
    padding: 2.22222em;
    width: ~"calc(100% + 4.44444em)";
}

#sidebar > .inner > .alt.alt-light {
    background-color: transparent;
}

#sidebar .toggle {
    text-decoration: none;
    -moz-transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    transition: left 0.5s ease;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: 0;
    display: block;
    height: 7.5em;
    left: 26em;
    line-height: 7.5em;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-indent: 7.5em;
    top: 0;
    width: 6em;
    z-index: 10000;
    color: rgba(241, 138, 24, 0);
}

#sidebar .toggle:hover,
#sidebar .toggle:focus {
    color: rgba(241, 138, 24, 0) !important;
}

#sidebar .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    color: rgba(241, 138, 24, 0.5);
}

#sidebar .toggle:before {
    content: '\f0c9';
    font-size: 2rem;
    height: inherit;
    left: 0;
    line-height: inherit;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: inherit;
}

#sidebar .toggle:hover::before,
#sidebar .toggle:focus::before {
    color: rgba(241, 138, 24, 1);
}

#sidebar.inactive {
    margin-left: -26em;
}

#sidebar .copyright a,
#sidebar .copyright span {
    margin-right: 1.5em;
}

@media screen and (max-width: 1680px) {

    #sidebar {
        width: 24em;
    }

    #sidebar > .inner {
        padding: 1.66667em 1.66667em 1.33333em 1.66667em ;
        width: 24em;
    }

    #sidebar > .inner > .alt {
        margin: -1.66667em 0 3.33333em -1.66667em;
        padding: 1.66667em;
        width: ~"calc(100% + 3.33333em)";
    }

    #sidebar .toggle {
        height: 5.25em;
        left: 24em;
        line-height: 5.25em;
        text-indent: 5em;
        width: 5em;
    }

    #sidebar .toggle:before {
        font-size: 1.5rem;
    }

    #sidebar.inactive {
        margin-left: -24em;
    }

}

@media screen and (max-width: 1024px) {

    #sidebar {
        box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 10000;
    }

    #sidebar.inactive {
        box-shadow: none;
    }

    #sidebar > .inner {
        -webkit-overflow-scrolling: touch;
        height: 100%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
    }

    #sidebar > .inner:after {
        content: '';
        display: block;
        height: 4em;
        width: 100%;
    }

    #sidebar .toggle {
        text-indent: 6em;
        width: 6em;
    }

    #sidebar .toggle:before {
        font-size: 1.5rem;
        margin-left: -0.4375em;
    }

    body.is-loading #sidebar {
        display: none;
    }

}

@media screen and (max-width: 736px) {

    #sidebar .toggle {
        text-indent: 7.25em;
        width: 7.25em;
    }

    #sidebar .toggle:before {
        //color: #7f888f;
        margin-left: -0.0625em;
        margin-top: -0.05em;
        font-size: 1.3rem;
        z-index: 1;
    }

    #sidebar .toggle:after {
        background: rgba(222, 225, 226, 0.75);
        border-radius: 0.275em;
        content: '';
        height: 3.5em;
        left: 1em;
        position: absolute;
        top: 1em;
        width: 5em;
    }

}

/* Header */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-bottom: solid 5px #F18A18;
    padding: 6em 0 0 0;
    position: relative;
    align-items: flex-start;
}

#header > * {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0;
}

#header .logo {
    border-bottom: 0;
    color: inherit;
    font-family: 'Hind', sans-serif;
    font-size: 1.125em;
}

#header .icons {
    text-align: right;
}

@media screen and (max-width: 1680px) {

    #header {
        padding-top: 2em;
        padding-bottom: 0.5em;
    }

}

@media screen and (max-width: 736px) {

    #header {
        padding-top: 6.5em;
    }

    #header .logo {
        font-size: 1.25em;
        margin: 0;
    }

    #header .icons {
        height: 5em;
        line-height: 5em;
        position: absolute;
        right: -0.5em;
        top: 0;
    }

}

/* Banner */

#banner {
    padding: 6em 0 4em 0 ;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

#banner h1 {
    margin-top: -0.125em;
}

#banner .content {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 50%;
}

#banner p {
    font-size: 1.1em;
    line-height: 1.8;
}

#banner .image {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    display: block;
    margin: 0 0 2em 4em;
    width: 50%;
}

#banner .image img {
    height: 100%;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    -moz-object-position: center;
    -webkit-object-position: center;
    -ms-object-position: center;
    object-position: center;
    width: 100%;
}

@media screen and (orientation: portrait) {

    #banner {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #banner h1 br {
        display: none;
    }

    #banner .content {
        -moz-flex-grow: 0;
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        -moz-flex-shrink: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
        width: 100%;
    }

    #banner .image {
        -moz-flex-grow: 0;
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
        -moz-flex-shrink: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0;
        margin: 0 0 4em 0;
        height: auto;
        max-height: 50vh;
        min-height: auto;
        width: 100%;
    }

}

@media screen and (orientation: portrait) and (max-width: 480px) {

    #banner .image {
        max-height: 35vh;
    }

}

#main > .inner > section.banner-streaming {
    padding: 2em 0;
}

/* Temporary banner for streaming */
.banner-streaming a {
    border-bottom: none;
    display: flex;
    margin: 0 auto;
    border: 8px solid rgba(241,138,24,0.5);
    border-radius: 0.275em;
    transition: all .3s ease-in-out;
}

.banner-streaming a:hover,
.banner-streaming a:focus {
    border-color: rgba(241,138,24,1);
}

.banner-streaming a img {
    height: auto;
    width: 100%;
    max-width: 100%;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.banner-streaming a:hover img,
.banner-streaming a:focus img {
    opacity: 0.7;
}


/* Menu */

#menu ul {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #3d4449;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.165em;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    margin-top: -1em;
}

#menu ul a,
#menu ul span {
    border-bottom: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 1.15em 0;
}

#menu ul a:hover,
#menu ul span:hover {
    color: #F18A18;
    background-color: #fff;
}

#menu ul a.nolink {
    display: none;
}

#menu ul a.opener,
#menu ul span.opener {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    position: relative;
}

#menu ul a.opener:before,
#menu ul span.opener:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#menu ul a.opener:before,
#menu ul span.opener:before {
    -moz-transition: color 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, -ms-transform 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    color: #9fa3a6;
    content: '\f078';
    position: absolute;
    right: 0;
}

#menu ul a.opener:hover:before,
#menu ul span.opener:hover:before {
    color: #F18A18;
}

#menu ul a.opener.active + ul,
#menu ul span.opener.active + ul {
    display: block;
    opacity: 1;
    /*transform: scale(1);*/
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

#menu ul a.opener.active:before,
#menu ul span.opener.active:before {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#menu > ul > li {
    border-top: solid 1px rgba(0, 95, 139, 0.5);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#menu > ul > li > ul {
    color: #9fa3a6;
    display: none;
    margin: 0.5em 0 1.5em 0;
    padding-left: 1em;
    
    /*transform: scale(0);*/
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

#menu > ul > li > ul a,
#menu > ul > li > ul span {
    font-size: 1em;
    padding: 0.75em 0;
}

#menu > ul > li > ul > li {
    margin: 0.125em 0 0 0;
    padding: 0.125em 0 0 0;
}

#menu > ul > li:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

#header {
    border-color: rgba(241, 138, 24, 0.5);
    border-width: 4px;
}

#main {
    border-color: rgba(0, 95, 139, 0.5);
    border-width: 0.55em;
}


/* Menu */

#sub-menu ul {
    letter-spacing: 0.135em;
    list-style: none;
    padding: 0;
    line-height: 2.2;
}


/* Footer */
#footer {
    display: flex;
    background-color: rgba(0, 95, 139, 0.05);
    margin: 5em auto;
    padding: 3em;
    border-top: solid 2px rgba(0, 95, 139, 0.5)
}

#footer > div {
    /*flex: 1;*/
    margin: 0 2em;
}

#footer .getintouch {
    /*margin-right: 3em;*/
    width: 45%;
}

#footer .subscribe-form {
    /*margin-left: 3em;*/
    width: 55%;
}

.subscribe-form input {
    margin-bottom: 1.5em;
}

#footer .copyright {
    color: #9fa3a6;
    font-size: 0.9em;
}

#footer .copyright a {
    color: inherit;
}

.response {
    display: none;
}

.real-people {
    position: absolute;
    left: -5000px;
}

@media screen and (max-width: 768px) {
    
    #footer {
        flex-wrap: wrap;
    }
    
    #footer .getintouch {
        width: 100%;
        margin-bottom: 3em;
    }

    #footer .subscribe-form {
        width: 100%;
    }

}




// Plugins, pages, Woocommerce
// ---------------------------------------------------------------------------
@import "calendar.less";
@import "map.less";
@import "pages.less";
@import "posts.less";
@import "plugins.less";
@import "woocommerce.less";
