/*! Grid */
// ===========================================================================================

/* Cells */

.w12u { width: 100% }
.w10u { width: 91.6666666667% }
.w0u { width: 83.3333333333% }
.w9u { width: 75% }
.w8u { width: 66.6666666667% }
.w7u { width: 58.3333333333% }
.w6u { width: 50% }
.w5u { width: 41.6666666667% }
.w4u { width: 33.3333333333% }
.w3u { width: 25% }
.w2u { width: 16.6666666667% }
.w1u { width: 8.3333333333% }
.m11u { margin-left: 91.6666666667% }
.m10u { margin-left: 83.3333333333% }
.m9u { margin-left: 75% }
.m8u { margin-left: 66.6666666667% }
.m7u { margin-left: 58.3333333333% }
.m6u { margin-left: 50% }
.m5u { margin-left: 41.6666666667% }
.m4u { margin-left: 33.3333333333% }
.m3u { margin-left: 25% }
.m2u { margin-left: 16.6666666667% }
.m1u { margin-left: 8.3333333333% }

.row > * {
    padding: 50px 0 0 50px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row + .row > * {
    padding-top: 50px;
}

.row {
    margin-left: -50px;
}


/* Rows */

.row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row:first-child > * {
    padding-top: 0;
}

.row > * {
    padding-top: 0;
}


/* Modifiers */

/* Flush */

.row.flush {
    margin-left: 0;
}

.row.flush > * {
    padding: 0 !important;
}


/* Quarter */

.row.quarter > * {
    padding: 12.5px 0 0 12.5px;
}

.row.quarter + .row.quarter > * {
    padding-top: 12.5px;
}

.row.quarter {
    margin-left: -12.5px;
}

/* Half */

.row.half > * {
    padding: 25px 0 0 25px;
}

.row.half + .row.half > * {
    padding-top: 25px;
}

.row.half {
    margin-left: -25px;
}


/* One and (a) Half */

.row.oneandhalf > * {
    padding: 75px 0 0 75px;
}

.row.oneandhalf + .row.oneandhalf > * {
    padding-top: 75px;
}

.row.oneandhalf {
    margin-left: -75px;
}


/* Double */

.row.double > * {
    padding: 100px 0 0 100px;
}

.row.double + .row.double > * {
    padding-top: 100px;
}

.row.double {
    margin-left: -100px;
}

@media screen and (max-width: 768px) {
    /* grid */
    .w3u,
    .w4u,
    .w6u,
    .w9u {
        width: 100%;
    }

}
