
.interactive-map {
    position: relative;
    width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

.interactive-map > img {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered-y {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.interactive-map .map-point {
    cursor: pointer;
    outline: none;
    z-index: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
    /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;*/
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s, border-radius 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s, border-radius 0.25s ease-in-out;
    background:  rgba(255, 255, 255, 0.85);
    border: 4px solid #F8C48B;
    color: #333 !important;
    box-shadow: none;
}

#alsatian {
    top: 60%;
    left: 49%;
}

#basque {
    top: 74%;
    left: 40%;
}

#breton {
    top: 62%;
    left: 38.5%;
}

#catalan {
    top: 82%;
    left: 44%;
}

#cornish {
    top: 55.5%;
    left: 37%;
}

#corsican {
    top: 78%;
    left: 51.5%;
}

#finnish {
    top: 29%;
    left: 56%;
}

#frisian {
    top: 48%;
    left: 47.5%;
}

#friulian {
    top: 70%;
    left: 55.5%;
}

#galician {
    top: 76.5%;
    left: 33.5%;
}

#irish-gaelic {
    top: 48%;
    left: 33%;
}

#ladin {
    top: 66%;
    left: 52%;
}

#macedonian {
    top: 80%;
    left: 65%;
}

#nynorsk {
    top: 27%;
    left: 49%;
}

#occitan {
    top: 71%;
    left: 45%;
}

#scottish-gaelic {
    top: 37%;
    left: 37%;
}

#swedish {
    top: 23%;
    left: 63%;
}

#welsh {
    top: 49%;
    left: 38%;
}

#kashubian {
    top: 46%;
    left: 60%;
}

#hungarian {
    top: 65%;
    left: 65%;
}


.interactive-map .map-point .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    left: 50%;
    /*-webkit-transform: translateX(-50%);
    transform: translateX(-50%);*/
    overflow: overlay;
    white-space: normal;
}

.interactive-map .map-point:active,
.interactive-map .map-point:focus {
    margin: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    width: 280px;
    height: 180px;
    color: #333;
    z-index: 1;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, border-radius 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, border-radius 0.25s ease-in-out;
    border-radius: 0.275em;
}

.interactive-map .map-point:active .content,
.interactive-map .map-point:focus .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0s, 0s;
    -webkit-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    overflow: hidden;
}

.interactive-map .map-point:active .content a:hover,
.interactive-map .map-point:active .content a:active,
.interactive-map .map-point:focus .content a:hover,
.interactive-map .map-point:focus .content a:active {
    color: #afe1fa;
}

.interactive-map .map-point .content h2,
.interactive-map .map-point .content p {
    margin: 0;
    line-height: 1.5;
}

.interactive-map .map-point .content p {
    font-weight: 400;
}
